.card {
  background-color: white;
  max-width: 480px;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  position: relative;
}

.card__header {
  display: flex;
}

.card__title {
  margin-left: -0.75rem;
  font-weight: bolder;
}

.card__bookmark {
  position: absolute;
  right: 2rem;
  top: -0.2rem;
  color: #b82a13;
}

.card__button {
  background-color: white;
  color: #b82a13;
  padding: 0.5rem 1rem;
  border: 1px solid #b82a13;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
}

.card__button:hover {
  background-color: #b82a13;
  color: white;
}

.card__answer--hidden {
  display: none;
}

.card__tag-list {
  list-style: none;
  display: flex;
  gap: 5px;
  padding: 0;
  flex-wrap: wrap;
}

.card__tag-list--item {
  background-color: #00753c;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  color: white;
}

.card__list-title {
  display: block;
  margin-top: 0.5rem;
  font-weight: bold;
}

.profile-name {
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  margin: 0.5rem 0;
}

.profile-photo {
  display: block;
  margin: 0 auto;
  border-radius: 30%;
}

@media (min-width: 480px) {
  .profile-photo {
    position: relative;
    display: inline;
    border-radius: 30%;
    float: left;
    margin-right: 1rem;
  }
}
