.navigation {
  display: contents;
}

.navigation__list {
  background: rgba(0, 97, 189, 1);
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.navigation__item {
  color: white;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.navigation__item--active {
  color: #b82a13;
}

.navigation__item:hover {
  color: #b82a13;
}
