.navigation {
  display: contents;
}

.navigation__list {
  background-color: #0061bd;
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0;
  justify-content: space-around;
  padding: 0;
}

.navigation__list--item {
  fill: white;
  display: flex;
  justify-content: space-around;
  padding: 1rem 1.5rem;
}

.navigation__list--item:hover {
  fill: #b82a13;
}
