.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.mx-auto {
  margin: auto;
}

.icon-html::before {
  font-family: "FontAwesome";
  content: "\f13b";
  padding-right: 5px;
  color: #e34c26;
}

.icon-css::before {
  font-family: "FontAwesome";
  content: "\f13c";
  padding-right: 5px;
  color: #264de4;
}

.icon-js::before {
  font-family: "FontAwesome";
  content: "\f3b9";
  padding-right: 5px;
  color: #f0db4f;
}

.icon-node::before {
  font-family: "FontAwesome";
  content: "\f3d3";
  padding-right: 5px;
  color: #303030;
}
