.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.mx-auto {
  margin: auto;
}

.small {
  font-size: 0.75rem;
  color: gray;
  border: none;
  padding: none;
}

.icon-html::before {
  font-family: 'FontAwesome';
  content: '\f13b';
  padding-right: 5px;
}

.icon-css::before {
  font-family: 'FontAwesome';
  content: '\f13c';
  padding-right: 5px;
}

.icon-js::before {
  font-family: 'FontAwesome';
  content: '\f3b9';
  padding-right: 5px;
}

.icon-node::before {
  font-family: 'FontAwesome';
  content: '\f3d3';
  padding-right: 5px;
}

.hidden {
  display: none;
}
